container_commands:
  01-clear-config:
    command: "php artisan config:clear"
  02-cache-config:
    command: "php artisan config:cache"
  #03-migrate:
  #  command: "php artisan migrate --force"
  #  leader_only: true
  03-migrate:
    command: "echo 'Migraciones desactivadas'"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 512M
    max_execution_time: 60

  aws:elasticbeanstalk:application:environment:
    APP_NAME: Laravel
    APP_ENV: production
    APP_DEBUG: "false"
    APP_KEY: base64:T4aIc5OU7d/PVCwpw6GTJGsQFKj48YYP9B5vrInnzU8=
    APP_URL: http://laravel-app-env.eba-jrmmprfc.us-east-2.elasticbeanstalk.com
    DB_CONNECTION: sqlite
    DB_DATABASE: /var/app/current/database/database.sqlite
    SESSION_DRIVER: file
    QUEUE_CONNECTION: sync
    CACHE_STORE: file
    LOG_LEVEL: error
    AWS_DEFAULT_REGION: us-east-2