files:
  "/var/app/ondeck/storage":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      # Directorio de almacenamiento para SQLite
  "/var/app/ondeck/storage/database.sqlite":
    mode: "000666"
    owner: webapp
    group: webapp
    content: |
      # Archivo de base de datos SQLite vacío
commands:
  01_touch_sqlite:
    command: touch /var/app/ondeck/storage/database.sqlite
    test: "[ ! -f /var/app/ondeck/storage/database.sqlite ]"
  02_chown_sqlite:
    command: chown webapp:webapp /var/app/ondeck/storage/database.sqlite
  03_chmod_sqlite:
    command: chmod 666 /var/app/ondeck/storage/database.sqlite